body{
    background-size: 100%;
    background-image: url(background.jpg)
}

.container{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    background: rgba(0, 0, 0, 0.476);
    border-radius: 25px;
 }

 #logo-text{
    color:rgb(0, 221, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
 }

 .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
 }

 .green-rectangle{
    background-color: rgb(0, 221, 0);
    text-align: center;
    padding: 10px;
 }

 .testo-monopattini{
    color: white;
    font-size: 25px;
 }

 .dati{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 10px;
 }

 #stato-carica-gino{
    border-radius: 25px;
    background: orange;
    padding: 15px;
    width: 30%;
    height: 5px; 
 }

 #stato-carica-mike{
    border-radius: 25px;
    background: green;
    padding: 15px;
    width: 60%;
    height: 5px; 
 }

 #stato-carica-fede{
    border-radius: 25px;
    background: red;
    padding: 15px;
    width: 10%;
    height: 5px; 
 }